.create-job-ad-container {
  padding: 16px;
  @media(min-width: 768px) {
    max-width: 500px;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  @media(min-width: 1440px) {
    max-width: 650px;
  }
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  app-create-job-ad-form {
    width: 100%;
  }
}